@model IEnumerable<webfinal.Models.Araba>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotorGucu)
        </th>
        <th>
            Aliciler
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marka)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Yil)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MotorGucu)
    </td>
    <td>
        @foreach (var itemD in item.Aliciler)
        {
@Html.ActionLink(itemD.Ad, "Edit", "Alici", new { id = item.Id }, null) <br />//@Html.DisplayFor(modelItemD => itemD.Ad)<br />
}
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
